@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #131314;
    display: flex;
    align-items: center;
    justify-self: center;
}
body::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('https://static.toiimg.com/photo/msid-70568193/70568193.jpg') no-repeat center center/cover;
    backdrop-filter: blur(5px);
    opacity: 0.40;
}

header{
    position: relative;
    width: 100%;
    height: 90%;
    border: 4px solid gray;
    border-radius: 20px;
    z-index: 2;
}

header .main_img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    border-radius: 20px;
    z-index: -1;
}

header .mic-dot{
    position: absolute;
    width: 100px;
    height: 15px;
    background: gray;
    left: 47%;
    top: -3px;
    border-radius: 0px 0px 10px 10px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .mic-dot .mic{
   width: 30px;
   height: 3px;
   background: #fff;
   border-radius: 50px;
   margin-right: 10px;
   margin-bottom: 1px;
}

header .mic-dot .dot{
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    margin-bottom: 1px;
 }

 header nav{
     width: 95%;
     height: 7.5%;
     /* border: 1px solid #fff; */
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 header nav .brand{
     width: 20%;
     height: 100%;
     /* border: 1px solid #fff; */
   color: #fff;
   font-family: 'system-ui';
   display: flex;
   align-items: flex-end;
   justify-content: flex-start;
}

header nav ul{
    width: 60%;
    height: 100%;
    /* border: 1px solid #fff; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

header nav ul li{
    list-style-type: none;
    padding: 5px 10px;
    color: #fff;
}

header nav ul li a{
    color: #fff;
    text-decoration: none;
    font-family: 'system-ui';
    font-size: 14px;
    font-weight: bold;
    transform: all .3s ease-in-out;
}

/* header nav ul li a{
    color: #fff;
    text-decoration: none;
    font-family: 'system-ui';
    font-size: 14px;
    font-weight: bold;
    transform: all .3s ease-in-out;
} */

header nav ul li a:hover{
    color: gray;
}

header nav .search{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
header nav .search input{
    width: 50%;
    height: 60%;
   padding: 5px 0px 3px 15px;
   border-radius: 20px;
   border: none;
   outline: none;
}

header section{
    /* border: 1px solid #fff; */
    width: 95%;
    height: 56.5%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header section .content{
    /* border: 1px solid #fff; */
    width: 400px;
    height: 70%;
    padding-left: 60px;
}
header section .content h1{
   color: #fff;
   font-family: 'system-ui';
   font-size: 30px;
}
header section .content h1 span{
    background-color: red;
    padding: 0px 15px;
 }
 header section .content h3{
   color: #fff;
   font-family: "system-ui";
     /* padding: 0px 15px; */
 }


 header section .content .rating{
    color: #fff;
    font-size: 14px;
    margin-top: 15px;
    color: rgb(235,235, 35);
  }
 

  header section .content .subtittle{
    color: gray;
    margin-top: 3px;
  }

  header section .content .subtittle span{
    padding: 0px 5px;
  }

  header section .content .btns{
  margin-top: 10px;
  display: flex;
  }

  header section .content .btns button{
      background: rgb(75, 75, 75);
      border: none;
      outline: none;
      padding: 8px 13px;
      cursor: pointer;
      font-size: 18px;
      transition: all .3s ease-in-out;
  }

  header section .content .btns button:hover{
      background: rgb(97, 191, 228);
  }

  header section .content .btns button:nth-child(2){
   background: #fff;    
}
 

header section .content .btns button:nth-child(2):hover{
    background: rgb(0, 183, 255);    
 }
 header section .content .btns button .bi{
     color: #fff;
     transition: all .3s ease-in-out;
}
header section .content .btns button:hover .bi{
    color: #000;
}
header section .content .btns button .bi-cloud-arrow-down-fill{
    color: #000;
}
header section .content .btns button:hover .bi-cloud-arrow-down-fill{
    color:#fff;
}
header section .content p{
    color: #fff;
    font-size: 13px;
    font-family: sans-serif;
    margin-top: 20px;
}

header .cards{
    /* border: 1px solid #fff; */
    width: 95%;
    height: 36%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .cards .card{
    position: relative;
   width: 125px;
   height: 185px;
   /* border: 1px solid red; */
   margin: 0px 5px;
   border-radius: 10px;
}
header .cards .card{
    /* height: auto; */
    overflow: hidden;
}
header .cards .card img{
   width: 100%;
   height: 100%;
   border-radius: 10px;
   cursor: pointer;
   /* grid-template-columns: repeat(auto-fill, minmax(300pxx,1fr)); */
}
header .cards .card img{
    transition: transform 1s ease;
}
header .cards .card:hover img{
    transform: scale(1.3);
}
header .cards .card .content{
    position: absolute;
    width: 100%;
    height: 20%;
    border-radius:0px 0px 10px 10px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
    z-index: 2;
 }


header .cards .card .content::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 20%;
    border-radius:0px 0px 10px 10px;
    background-color: rgb(185, 185, 185, 0.1);
    backdrop-filter: blur(15px);
    z-index: -1;
 }
 header .cards .card .content h4{
   color: #fff;
   font-size: 10px;
 }
 header .cards .card .content p{
    color: #fff;
    font-size: 10px;
  }

 